version: '3.8'

services:
  demo-app:
    build: .
    volumes:
      - .:/src
    ports:
      - "8000:8000"
    environment:
      - DB_URL=mysql+pymysql://root:root@db:3306/todo
      - WATCHFILES_FORCE_POLLING=true
    depends_on:
      - db

  db:
    image: mysql:8.0
    volumes:
      - db_data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: todo
    ports:
      - "3307:3306"

volumes:
  db_data: